.registration-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.registration-form input,
.registration-form button {
    margin-bottom: 20px;
    padding: 10px;
    width: 300px;
}

.submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0056b3;
}